.combatantTitle{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Style Buttons */
.combatStyleButton {
    border: 0px;
    size: 20%;
}

._cc-selector input{
    margin:0;padding:0;
     -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none; 
}

._melee{background-image: url(../../public/melee_bubble.png);}
._mage{background-image: url(../../public/mage_bubble.png);}
._range{background-image: url(../../public/range_bubble.png);}
._other{background-image: url(../../public/other_bubble.png);}


._cc-selector-2 input:active +._drinkcard-cc, ._cc-selector input:active +._drinkcard-cc{opacity: .9;}
._cc-selector-2 input:checked +._drinkcard-cc, ._cc-selector input:checked +._drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

._drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:80px;height:70px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(.7) opacity(.8);
       -moz-filter: brightness(1) grayscale(.7) opacity(.8);
            filter: brightness(1) grayscale(.7) opacity(.8);
}

._drinkcard-cc:hover{
    -webkit-filter: brightness(.95) grayscale(.2) opacity(1);
       -moz-filter: brightness(.95) grayscale(.2) opacity(1);
            filter: brightness(.95) grayscale(.2) opacity(1);
}

/* Input Fields */
.form-group{
    display: inline-block;
}

.form-control{
    margin-bottom: 8px;
    width: 80%;
    display: inline-block;
}

.statsInput {
    margin-bottom: 50px;
}
